<!-- 
owns the list of post
other two componenet are referenced in this template = so I need to import Post/Postform here 
template contains the `ngForOf` directive on the post component 
has a onSubmit method that responsd to the submitted event
has a onDelete method that responds to the delete method
-------------------------------------------------------------
 remember what chris said about naming convention and capitialization -->
<div class="container">
    <header> 
        <h1>My Thoughts</h1> 
    </header>
</div>
 
<button (click)="showPostForm">New Thought</button>

<div class="postbox">
    <!-- 
    ngFor  is needed here 
    post.title
    post.thought 
    trash can with deletePost method needed 
    <button type ="button" class="fas fa-trash" (click)="deletePost"</button>
 -->
</div>
<app-post></app-post>