/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1.5;
  background: #E166DB;
  background: -webkit-linear-gradient(left, #E166DB, #EE9639);
  background: -moz-linear-gradient(left, #E166DB, #EE9639);
  background: linear-gradient(to right, #E166DB, #EE9639);
  font-weight: 300;
}

/* div {
  background-color: lightcoral;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4px;
} */

.box {
  background-color: white;
  box-shadow: black;
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

.container {
  padding: 0 1rem;

}
h3{
  font-weight: bold;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}
.btn {
  display: inline-block;
  border: none;
  background: #5555;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #666;
}

/* 
.delete {
  float: left;
  border: 2px solid red;
  border-radius: 5px;
  height: 20px;
  color: red;
} */
