
<!-- displays a single post in the list 
    it has an input boinding called post 
    it has one output binding called deleted that emits an event 
    it has  deletePost method that triggers the deleted event emitter 
    ----------------------------------------------------------------------
    need delete Post here with a trashcan. need to figure out where to link font-awesome
    remember what chris said about naming convention and capitialization 
  -->
   <div class="post-container"> 
      <div class="post-content">
          <div class="post-title">Post</div>
      </div>
      <div class="post-thoughtbox">
       
          <!-- 
          ngFor  is needed here 
          post.title
          post.thought 
          trash can with deletePost method needed 
          <button type ="button" class="fas fa-trash" (click)="deletePost"</button>
       -->
    
      </div>
  </div> 
<app-post-form></app-post-form>