<!-- 
    displays the new post form 
    it has one output binding called `submitted` that emits an event 
    it has a `submitPost` method that triggers the submitted event emitter 

    -------------------------------------------------------
     remember what chris said about naming convention and capitialization
 -->
<div class="postcontainer">
<!-- need to make this into a container -->
  <h3>Add A Post</h3>
  <input type="text" class="text" name="title" [(ngModel)]="getTitle">
<!-- need to make this into a container -->
  <h3 class="text">Title</h3>
  <input type="text" class="text" name="thought" [(ngModel)]="getThought">
  <!-- need to make this into a container? -->
  <button class="submitpostbtn" (click)="submitPost(getTitle,getThought)">Add Post</button>
</div>

